<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573020256731-ejafhq0d90ad69abdrbj1g4k59ulebju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573020256731-ejafhq0d90ad69abdrbj1g4k59ulebju</string>
	<key>API_KEY</key>
	<string>AIzaSyCzKZWOUjTn01167f4SgmBx9WDIMobaFm4</string>
	<key>GCM_SENDER_ID</key>
	<string>573020256731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.home.png</string>
	<key>PROJECT_ID</key>
	<string>honra-fgi-peac</string>
	<key>STORAGE_BUCKET</key>
	<string>honra-fgi-peac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573020256731:ios:9c8fbe877572db5fa44ffe</string>
</dict>
</plist>